{% extends 'layout.twig' %}

{% block title "Characters -" %}

{% block content %}
	<div id="content">
        {% for character in characters %}
            <div class="post">
                {% if character.id_version is not null %}
                    <h2 class="title"><a href="{{ path('character.show', {name: adjustName(character.name), id: character.id}) }}"> {{ character.name }} </a> 
                    <img src='/assets/images/attributes/{{ getAttribute(character.id)|lower }}.png' style='width:20px; height:20px;'/></h2>
                    <span class="date">  {{ getVersion(character.id) }}</span>
                    <div style="clear: both;">&nbsp;</div>
                {% else %}
                    <h2 class="title"><a href="{{ path('character.show', {name: adjustName(character.name), id: character.id}) }}"> {{ character.name }} </a> 
                    <img src='/assets/images/attributes/{{ getAttribute(character.id)|lower }}.png' style='width:20px; height:20px;'/></h2>
                    <div style="clear: both;">&nbsp;</div>
                {% endif %}
            </div>
        {% endfor %}
        <div style="clear: both;">&nbsp;</div>
    </div>
    <div class='pagerfanta'>
    {{ paginate(characters, 'brave.characters') }}
    </div>
{% endblock %}