{% extends 'layout.twig' %}

{% block title name|capitalize ~ " -" %}
{% block description description %}

{%block body %}

<h1> Character : {{ name }} </h1> 
{{ attributes.version }} ver. <br>
{{ attributes.affiliation }} {% if attributes.affiliation2 is defined %} - {{ attributes.affiliation2 }} {% endif %}
{% endblock %}

{% block content %}
	<div id="content">
        <div class="character">
            <div class="left-part">
                <div style="float:left; margin-right:10px;">
                    <h1 class="title">{{ name }}</h1>
                    <span class="date"> {{ attributes.version }} ver.</span>
                </div>
                <div style="float:left; margin-right:5px;">
                    <img src="http://placehold.it/100x100"/>
                </div>
                <div style="clear: both;">&nbsp;</div>
                <img src="http://placehold.it/300x500"/>
            </div>

            <div class="middle-part">
                <div style="text-align:center; float:left; margin-right:10px;">
                    <h2> Stats </h2>
                    <table>
                        <tr>
                            <th> STA </th>
                            <th> ATQ </th>
                            <th> DEF </th>
                            <th> SP </th>
                            <th> FCS </th>
                        </tr>
                        <tr>
                            <td> 999 </td>
                            <td> 999 </td>
                            <td> 999 </td>
                            <td> 999 </td>
                            <td> 999 </td>
                        </tr>
                    </table>

                    <div style="clear: both;">&nbsp;</div>

                    <h2> Affiliation </h2> 
                    {{ attributes.affiliation}} {% if attributes.affiliation2 is defined %} - {{ attributes.affiliation2 }} {% endif %}
                    <img src="http://placehold.it/30x30"/>

                    <div style="clear: both;">&nbsp;</div>

                    <h2> Soul Trait </h2>
                    {{ attributes.soultrait }}

                    <div style="clear: both;">&nbsp;</div>

                    <p> {{ description }} <p>
                </div>
                
                <div style="float:left; margin-right:5px;">

                </div>
                <div style="clear: both;">&nbsp;</div>
            </div>

        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>
{% endblock %}