{% extends 'layout.twig' %}

{% block title name|capitalize ~ " -" %}
{% block description description %}

{% block content %}
        <div class="character">
            <div class="left-part">

                <div style="float:left; margin-right:40px;">
                    <h1 class="title">{{ name }}</h1>
                    <span class="date"> {% if attributes.version is defined %} {{ attributes.version }} ver. {% endif %}</span>
                </div>

                <div style="clear: both;">&nbsp;</div>

                <img style="border:solid; width:742px; height:500px;" src="/assets/images/characters/{{ image }}"/>
            </div>

            <div class="middle-part">
                <div style="float:left; text-align:center;">
                    <h2> Stats </h2>
                    <table cellspacing="5">
                        <tr>
                            <th> STA </th>
                            <th> ATQ </th>
                            <th> DEF </th>
                            <th> SP </th>
                            <th> FCS </th>
                        </tr>
                        <tr>
                            <td> {{ attributes.stats.4.value }} </td>
                            <td> {{ attributes.stats.0.value }} </td>
                            <td> {{ attributes.stats.2.value }} </td>
                            <td> {{ attributes.stats.1.value }} </td>
                            <td> {{ attributes.stats.3.value }} </td>
                        </tr>
                    </table>
                </div>
                <div style="float:right;">
                    <h2> Affiliation </h2> 
                    {{ attributes.affiliation}} {% if attributes.affiliation2 is defined %} - {{ attributes.affiliation2 }} {% endif %}
                    <img src="http://placehold.it/30x30"/>
                </div>

                    <div style="clear: both;">&nbsp;</div>

                <div style="float:left;">
                    <h2> Soul Trait </h2>
                    {{ attributes.soultrait }}
                </div>
                <div style="float:right;">
                    <h2> Killer </h2> {{ attributes.killer }} {% if attributes.killer2 is defined %} - {{ attributes.killer2 }} {% endif %}
                </div>
                
                <div style="clear: both;">&nbsp;</div>
                <i> {{ description }} </i>
            </div>

        </div>
        <div style="clear: both;">&nbsp;</div>
{% endblock %}