{% extends 'layout.twig' %}

{% block title character.name ~ " -" %}
{% block description character.description %}

{% block content %}
        <div class="character">
            <div class="left-part">

                <div style="float:left; margin-right:40px;">
                    <h1 class="title">{{ character.name }}</h1>
                    <span class="date"> {% if character.id_version is not null %} {{ getVersion(character.id) }} {% endif %} </span>
                </div>

                <div style="clear: both;">&nbsp;</div>

                <img style="border:solid; width:742px; height:500px;" src="/assets/images/characters/{{ character.image }}l"/>
            </div>

            <div class="right-part">
                <div>
                    <h2> Stats </h2>
                    <table cellspacing="7">
                        <tr>
                            <th> STA </th>
                            <th> ATK </th>
                            <th> DEF </th>
                            <th> SP </th>
                            <th> FCS </th>
                        </tr>
                        <tr>
                            <td> {{ getStats(character.id).stamina }} </td>
                            <td> {{ getStats(character.id).attack }} </td>
                            <td> {{ getStats(character.id).defense }} </td>
                            <td> {{ getStats(character.id).focus }} </td>
                            <td> {{ getStats(character.id).spiritual_pressure }} </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h2> Affiliation </h2> 
                    {{ getAffiliation(character.id) }} {% if character.id_affiliation2 is not null %} - {{ getAffiliation(character.id, 2) }} {% endif %}
                    <img src="http://placehold.it/30x30"/>
                </div>


                <div>
                    <h2> Soul Trait </h2>
                    {{ getSoulTrait(character.id) }}
                </div>

                <div>
                    <h2> Killer </h2> 
                    {{ getKiller(character.id) }} {% if character.id_killer2 is not null %} - {{ getKiller(character.id, 2) }} {% endif %}
                    <img src="http://placehold.it/30x30"/>
                </div>
                
                <i> {{ character.description }} </i>
            </div>

        </div>
        <div style="clear: both;">&nbsp;</div>
{% endblock %}